# 2018-12-22 (cc) <paul4hough@gmail.com> -*- yaml -*-
#
---
global:
  resolve_timeout: 15s

route:

  group_by:
    - alertname
    - instance
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 10m
  receiver: 'ticket'

  routes:
    - receiver: ansible
      match_re:
        ansible: .*
    - receiver: emmet
      match_re:
        emmet: .*

receivers:
  - name: 'ticket'
    webhook_configs:
      - url: 'http://{{ addr_remed }}:{{ port_maul }}/ticket'

  - name: 'ansible'
    webhook_configs:
      - url: 'http://{{ addr_remed }}:{{ port_maul }}/ansible'

  - name: 'emmet'
    webhook_configs:
      - url: 'http://{{ addr_remed }}:{{ port_maul }}/emmet'
