# 2018-12-23 (cc) <paul4hough@gmail.com> -*- conf-unix -*-
# service file for maul
# /etc/systemd/system/maul.service
[Unit]
Description=Maul Alert Remediation Server
Documentation=https://github.com/pahoughton/maul
After=network-online.target

[Service]
User={{ remed_user }}
Restart=on-failure
ExecStart={{ remed_dir }}/bin/maul \
	     --laddr "0.0.0.0:{{ port_maul }}"

[Install]
WantedBy=multi-user.target
