# 2018-12-23 (cc) <paul4hough@gmail.com> -*- conf-unix -*-
# service file for maul
# /etc/systemd/system/mock-logger.service
[Unit]
Description=Mock Ticket
Documentation=https://github.com/pahoughton/maul
After=network-online.target

[Service]
User={{ mon_user }}
Restart=on-failure
ExecStart={{ mon_dir }}/bin/mock-ticket \
	     --laddr "0.0.0.0:{{ port_ticket }}"

[Install]
WantedBy=multi-user.target
