# 2018-12-23 (cc) <paul4hough@gmail.com> -*- yaml -*-
#
---
groups:
  - name: disk
    rules:
      - alert: disk-space
        expr: >-
          (node_filesystem_free_bytes * 100
          / node_filesystem_size_bytes)
          < 20
        labels:
          {% raw -%}
          ansible: disk-space-{{ $labels.mountpoint }}
        {% endraw -%}
        annotations:
          {% raw -%}
          description: "{{ $labels.mountpoint }} is over 80% full"
          {%- endraw %}
