# 2018-12-22 (cc) <paul4hough@gmail.com>
#
---
groups:
  - name: procs
    rules:
      - alert: thunderbird-down
        expr: namedprocess_namegroup_num_procs{groupname="thunderbird",job="proc"} == 0
        labels:
          ansible: thunderbird-restart
        annotations:
          description: "{{ $labels.groupname }} is down"
